<h1>Listing hangmen</h1>

<h2>Word: <%= @word %></h2>
<h2>Char Line: <%= @char_line %></h2>
<input type="text" placeholder="Your guess" id="user-guess"><input type="button" onclick="readWord()" value="Guess!">
<br>

<script type="text/javascript">
	function readWord(){
		var word = "<%= @word %>";
		main(word);
	}
</script>

<%= link_to 'New Hangman', new_hangman_path %>
